.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    
  
   
  
  }
  ul li a{
    text-decoration: none;
  }
  
  ul li  {
    display: inline-block;
    margin-right: 20px;
    list-style: none;
   
  }
  
  .toggle-button {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
  
  .navlogo img {
    height: 5vh;
  }
  
  
  
  .nav-links {
    display: flex;
    align-items: center;
    
  }
  
  .nav-links-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 1;
  }
  
  .nav-links-mobile li {
    text-align: center;
    padding: 30px 0;
    width: 100%;
    transition: all 0.5s ease;

  }
  
  @media (max-width: 578px) {
    .navbar { 
      height: 40px;
     
    } 
    .toggle-button {
      display:block;
      border: none;
      color: #000000;
      cursor: pointer;
      outline: none;
      right: 25px;
    
       
    }
    .nav-links {
      display: none;
      
    }
    .nav-links-mobile {
      display: block;
      list-style: none;
      width: 100%;
      margin-top: 60px;
      transition: all 0.5s ease-out;
    }
    li {
      text-align: center;
      padding: 10px 0;
      transition: all 0.5s ease;
    }
  }