.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
   
    
}

.login{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 1rem;
    width: 50%;
   
}

h2{
    text-align: center ;
    padding: 1rem;
}

.LoginForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 90%;
   
}

.Div1{
    margin: 1rem;
    width: 100%;
}

input{
    padding: 0.5rem;
    width: 100%;
}

button{
    background-color: #007bff;
    border-radius: 3px;
    padding: 10px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
}

@media  (max-width: 392px){
    .login{
        width: 90%;  
    }
}
